.tooltip {
  background-color: transparent;
  color: #2D68FE;
  font-weight: 700;
  cursor: help;
  position: relative;
}

.tooltip > span {
  display: none;
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #324054;
  border-radius: 3px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 12px;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  color: #ffffff;
  text-align: left;
}

.tooltip > span.tooltip--visible {
  display: inherit;
}